<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
  <title>oeCloud app</title>
  <meta name="description" content="oeCloud client side implementation">
  <script>
    window.OEUtils = window.OEUtils || {};
    window.OEUtils.restApiRoot = '/api';
  </script>
  <!-- See https://goo.gl/OOhYW5 -->
  <script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
  <script type="module" src="/src/app-shell.js"></script>
</head>

<body>
  <app-shell unresolved=""></app-shell>
</body>

</html>